html, body{
    color:#333;
    background:#fff;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    margin:0;
    padding:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display:block;
}
audio, canvas, video{
    display:inline-block;
    *display:inline;
    *zoom:1;
}
video::-webkit-media-controls-enclosure{
    overflow:hidden;
}
video::-webkit-media-controls-panel{
    width:130%;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
th{
    text-align:inherit;
}
fieldset, img{
    border:0;
}
iframe{
    display:block;
}
abbr, acronym{
    border:0;
    font-variant:normal;
}
del{
    text-decoration:line-through;
}
address, caption, cite, code, dfn, em, th, var, i, b{
    font-style:normal;
    font-weight:500;
}
ol, ul{
    list-style:none;
}
h1, h2, h3, h4, h5, h6, b{
    font-size:100%;
    font-weight:400;
}
q:before, q:after{
    content:"";
}
sub, sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup{
    top:-0.5em;
}
sub{
    bottom:-0.25em;
}
img, input, select{
    vertical-align:middle;
    display:inline-block;
}
embed, object, a, button, input, select, textarea{
    outline:none;
}
html, body{
    _height:100%;
    min-height:100%;
}
body, button, input, select, textarea{
    font:12px/1.5 "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",\5FAE\8F6F\96C5\9ED1,tahoma,simsun,\5b8b\4f53;
}
input, select, textarea{
    font-size:100%;
}
ins, a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
a, a:hover{
    color:#51b8f1;
}
.f-cb:after, .clearfix:after{
    visibility:hidden;
    display:block;
    font-size:0;
    content:"  ";
    clear:both;
    height:0;
}
.f-cb, .clearfix{
    zoom:1;
}
.nowrap{
    white-space:nowrap;
    word-break:keep-all;
}
.wrap{
    white-space:normal;
    word-wrap:break-word;
}
.ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-break:keep-all;
    word-wrap:normal;
}
body .hide{
    display:none;
}
body .hide2{
    visibility:hidden;
}
body .hide3{
    position:absolute;
    left:-99999px;
    top:-99999px;
}
.f-ib{
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.f-dn{
    display:none;
}
.f-fwb{
    font-weight:700;
}
.f-fl, .fl{
    float:left;
}
.f-fr, .fr{
    float:right;
}
.pr{
    position:relative;
}
.f-tac{
    text-align:center;
}
.f-toe{
    overflow:hidden;
    word-wrap:normal;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.f-toe2{
    line-height:24px;
    max-height:48px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
}
.f-vam, .f-vama *{
    vertical-align:middle;
}
.tahoma{
    font-family:tahoma;
}
.fs12{
    font-size:12px;
}
.fs14{
    font-size:14px;
}
.s-fc0{
    color:#e31436;
}
a.s-fc0:hover{
    color:#e31436;
}
.s-fc1{
    color:#333;
}
a.s-fc1:hover{
    color:#333;
}
.s-fc2, .s-fc2:hover, a:hover .s-fc2{
    color:#666;
}
#KXYZ img{
    margin-top:5px;
    border-radius:5px;
    width:80px;
    height:30px;
}
.u-shield{
    display:inline-block;
}
.u-shield img{
    height:30px;
    margin:5px 0 0 10px;
}
:-moz-placeholder{
    color:#999;
}
::-moz-placeholder{
    color:#999;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    color:#999;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color:#999;
}
.u-icn, .w-icon, #fslist .topbg, #fslist .btmbg, #rightBar .redpackage, .m-slogn, .m-slogn-new, .m-shopcartnew .wrap, .m-loginshow .closeLayer{
    background:url("//haitao.nos.netease.com/1aa06919-498a-4428-9f24-aa20b305bb69_979_797.png") no-repeat;
    _background-image:url("//haitao.nos.netease.com/e38ed041-797a-4cb9-bfcb-b2c08d6bfaa2_979_797.png");
}
.m-app2-1 .qrcode{
    background:url("//haitao.nos.netease.com/9a19aa02-8bf8-4b2b-bc9a-dc5613337597.png") no-repeat 0 0;
}
.m-step .bg{
    background:url("//haitao.nos.netease.com/a0483cb5-9686-41f8-a770-42977444644b_290_80.png") no-repeat;
    _background-image:url("//haitao.nos.netease.com/3728cbe1-f344-4dcf-ab39-fb13b47d21d0_290_80.png");
}
.w-slbtn, .w-slbtn .partr{
    background:url("//haitao.nos.netease.com/ea5d1e2f-ccbc-4457-ac2d-bca9c15b158d_500_56.png") no-repeat;
    _background:none;
}
.m-yigouIdxPop .iDialogClose, .m-yigouIdxPop .steps ul, .m-yigouIdxPop .coupon{
    background:url("//haitao.nos.netease.com/6df2749d-a829-4215-8565-0f951f09dfa3_612_260.png") no-repeat;
}
#topTabBox #funcTab .navitm-1 a{
    background:url("//haitao.nos.netease.com/7a7a0470-9e19-4450-a21b-a34f90360daa_220_42.png") no-repeat;
}
.w-icon{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:36px;
    height:36px;
}
.w-icon-1{
    background-position:-103px -104px;
}
.w-icon-2{
    background-position:-104px -176px;
}
.w-icon-3{
    background-position:-104px -244px;
}
.w-icon-6{
    width:32px;
    height:32px;
    background-position:-374px -322px;
}
a:hover .w-icon-6{
    background-position:-178px -104px;
}
.w-icon-7{
    width:36px;
    height:35px;
    background-position:-372px -419px;
}
a:hover .w-icon-7{
    background-position:-176px -175px;
}
.w-icon-8{
    width:36px;
    height:33px;
    background-position:-372px -519px;
}
a:hover .w-icon-8{
    background-position:-176px -244px;
}
.w-icon-9{
    width:36px;
    height:36px;
    background-position:-372px -617px;
}
a:hover .w-icon-9{
    background-position:-176px -316px;
}
.w-icon-10{
    width:64px;
    height:56px;
    background-position:-183px 0;
    text-decoration:none;
}
.w-icon-10:hover{
    background-position:-271px 0;
    text-decoration:none;
}
.w-icon-14{
    width:6px;
    height:6px;
    background-position:-65px -220px;
}
.w-icon-15{
    width:26px;
    height:20px;
    background-position:-56px -251px;
    font-size:12px;
    color:#fff;
    text-align:center;
    line-height:20px;
}
.w-icon-16{
    width:27px;
    height:34px;
    background-position:-284px -450px;
}
.w-icon-16, .w-icon-16:hover{
    text-decoration:none;
}
.w-icon-16 span{
    display:block;
    width:27px;
    text-align:center;
    font-size:14px;
    color:#fff;
    line-height:20px;
    padding:4px 0 0;
}
.w-icon-close{
    color:#aaa;
    cursor:pointer;
}
.w-icon-help{
    width:14px;
    height:14px;
    background-position:-5px -324px;
    vertical-align:middle;
}
.w-icon-invest{
    vertical-align:top;
    width:42px;
    height:42px;
    background-position:-210px -51px;
}
.w-icon-17{
    width:18px;
    height:28px;
    background-position:-239px -107px;
}
.w-icon-17-1{
    background-position:-240px -136px;
}
.w-icon-17-2{
    background-position:-240px -163px;
}
.w-icon-18{
    width:20px;
    height:22px;
    background-position:-239px -210px;
}
.w-icon-18-1{
    background-position:-239px -255px;
}
.w-icon-18-2{
    width:22px;
    background-position:-239px -304px;
}
.w-icon-contact{
    width:14px;
    height:14px;
    background-position:-5px -290px;
}
.w-icon-phone{
    width:14px;
    height:14px;
    background-position:-5px -205px;
}
.w-icon-app{
    width:8px;
    height:12px;
    background-position:-8px -250px;
}
.w-icon-app2{
    vertical-align:top;
    width:40px;
    height:40px;
    background-position:-278px -514px;
}
.w-icon-app3{
    vertical-align:top;
    width:40px;
    height:40px;
    background-position:-129px -50px;
}
.w-icon-guar{
    width:34px;
    height:34px;
    background-position:-626px 0;
}
.w-icon-19{
    width:36px;
    height:40px;
    background-position:0 -493px;
}
.w-icon-19-1{
    background-position:-59px -493px;
}
.w-icon-20{
    width:80px;
    height:88px;
    background-position:0 -654px;
}
.w-icon-21{
    position:relative;
    top:-3px;
    white-space:nowrap;
    color:#fff;
    line-height:28px;
    padding:0 0 0 20px;
    width:52px;
    height:28px;
    background-position:-148px -667px;
}
.w-icon-21 b{
    font-size:20px;
}
.w-icon-22{
    width:48px;
    height:60px;
    background-position:0 -568px;
}
.w-icon-22-1{
    background-position:-76px -568px;
}
.w-icon-23{
    width:44px;
    height:44px;
    background-position:-751px 0;
}
.w-icon-23-1{
    background-position:-812px 0;
}
.w-icon-23-2{
    background-position:-873px 0;
}
.w-icon-23-3{
    background-position:-935px 0;
}
.w-icon-24{
    width:32px;
    height:32px;
    background-position:-752px -69px;
}
a:hover .w-icon-24{
    background-position:-752px -109px;
}
.w-icon-24-1{
    background-position:-796px -69px;
}
a:hover .w-icon-24-1{
    background-position:-796px -109px;
}
.w-icon-24-2{
    background-position:-840px -69px;
}
a:hover .w-icon-24-2{
    background-position:-840px -109px;
}
.w-icon-26{
    width:14px;
    height:14px;
    background-position:-466px -667px;
}
.w-icon-27{
    background-position:-490px -657px;
}
.w-icon-speaker{
    width:12px;
    height:12px;
    background-position:-626px -237px;
}
.w-icon-28{
    width:20px;
    height:20px;
    background-position:-760px -275px;
}
.w-icon-28-1{
    background-position:-760px -300px;
}
.w-icon-28-2{
    background-position:-760px -330px;
}
.w-icon-28-3{
    background-position:-760px -356px;
}
.w-icon-28:hover{
    background-position:-823px -275px;
}
.w-icon-28-1:hover{
    background-position:-823px -300px;
}
.w-icon-28-2:hover{
    background-position:-823px -330px;
}
.w-icon-28-3:hover{
    background-position:-823px -356px;
}
.w-icon-29{
    width:22px;
    height:22px;
    background-position:-760px -401px;
}
.w-icon-29-1{
    background-position:-792px -401px;
}
.w-icon-29-2{
    background-position:-824px -401px;
}
.w-icon-29-3{
    background-position:-856px -401px;
}
.w-icon-29-4{
    background-position:-824px -436px;
}
.w-icon-30{
    width:14px;
    height:14px;
    background-position:-899px -406px;
}
.follow-us-icon{
    width:32px;
    height:32px;
    background-position:center;
    background-repeat:no-repeat;
}
.follow-us-icon.weibo-icon{
    background-image:url("//haitao.nos.netease.com/a4b6e70e-be73-43e0-93de-7f9d5a2ee5ce.png?imageView&thumbnail=32x0&quality=85&v=1");
    background-image:-webkit-image-set(url(//haitao.nos.netease.com/a4b6e70e-be73-43e0-93de-7f9d5a2ee5ce.png?imageView&thumbnail=32x0&quality=85&v=1) 1x, url(//haitao.nos.netease.com/a4b6e70e-be73-43e0-93de-7f9d5a2ee5ce.png) 2x);
}
.follow-us-icon.yixin-icon{
    background-image:url("//haitao.nos.netease.com/bc47f148-5e45-4e4f-83ac-265ddc1e85b3.png?imageView&thumbnail=32x0&quality=85&v=1");
    background-image:-webkit-image-set(url(//haitao.nos.netease.com/bc47f148-5e45-4e4f-83ac-265ddc1e85b3.png?imageView&thumbnail=32x0&quality=85&v=1) 1x, url(//haitao.nos.netease.com/bc47f148-5e45-4e4f-83ac-265ddc1e85b3.png) 2x);;
}
.follow-us-icon.weixin-icon{
    background-image:url("//haitao.nos.netease.com/5c73c116-766b-4c2a-aad6-5f417b6d6725.png?imageView&thumbnail=32x0&quality=85&v=1");
    background-image:-webkit-image-set(url(//haitao.nos.netease.com/5c73c116-766b-4c2a-aad6-5f417b6d6725.png?imageView&thumbnail=32x0&quality=85&v=1) 1x, url(//haitao.nos.netease.com/5c73c116-766b-4c2a-aad6-5f417b6d6725.png) 2x);
}
.w-btn1{
    display:inline-block;
    width:80px;
    height:30px;
    line-height:30px;
    background:#e31436;
    text-align:center;
    font-size:14px;
    color:#fff;
}
.w-btn1:hover{
    background:#f5345e;
    color:#fff;
    text-decoration:none;
}
.w-btn2{
    display:inline-block;
    padding:0 10px;
    min-width:50px;
    height:28px;
    line-height:28px;
    background:#fff;
    border:1px solid #ddd;
    text-align:center;
    cursor:pointer;
}
.w-btn2-cur{
    color:#e31436;
    border:1px solid #e31436;
}
.w-btn2-dis{
    color:#ccc;
    border:1px dotted #ddd;
    cursor:default;
}
.w-btn4{
    display:inline-block;
    width:172px;
    height:60px;
    line-height:60px;
    font-size:20px;
    color:#fff;
    text-align:center;
    cursor:pointer;
    background:#e31436;
    border-radius:4px;
}
.w-btn4:hover{
    background:#f5345e;
    color:#fff;
    text-decoration:none;
}
.w-slbtn{
    height:28px;
    line-height:28px;
    background-position:left 0;
    display:inline-block;
    vertical-align:baseline;
    zoom:1;
    *display:inline;
    *vertical-align:auto;
    padding-left:14px;
}
.w-slbtn .partr{
    display:inline-block;
    vertical-align:baseline;
    zoom:1;
    *display:inline;
    *vertical-align:auto;
    height:28px;
    line-height:28px;
    background-position:right -28px;
    padding-right:14px;
}
.w-msg-err{
    display:inline-block;
    font-size:12px;
    color:#e31436;
}
.w-msg-err .w-icon-err{
    margin:0 6px 0 0;
    font-size:17px;
}
.w-icon-del{
    font-size:20px;
    color:#eee;
    cursor:pointer;
}
body{
    min-width:1090px;
}
#docHead{
    position:relative;
    height:100px;
    background:#fff;
    z-index:103;
}
#docHeadWrap{
    position:relative;
    zoom:1;
    width:1090px;
    height:100px;
    margin:0 auto;
}
#docHead .logo{
    float:left;
    width:180px;
}
#docHead .logokaolalt{
    position:absolute;
    left:0;
    top:5px;
    width:162px;
    height:40px;
    line-height:40px;
    outline:none;
    cursor:pointer;
    background-repeat:no-repeat;
    background-image:url("//haitao.nos.netease.com/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=0x40&quality=85&v=1");
    background-image:-webkit-image-set(url("//haitao.nos.netease.com/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=0x40&quality=85&v=1") 1x,url("//haitao.nos.netease.com/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=0x80&quality=85&v=1") 2x);
}
#docHead .logokaolalt.backup{
    background-image:url("//haitao.noskl.127.net/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=0x40&quality=85&v=1");
    background-image:-webkit-image-set(url("//haitao.noskl.127.net/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=0x40&quality=85&v=1") 1x,url("//haitao.noskl.127.net/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=0x80&quality=85&v=1") 2x);
}
#docHead .logokaola{
    position:absolute;
    left:0;
    top:20px;
    width:330px;
    height:65px;
    line-height:65px;
    outline:none;
    cursor:pointer;
    z-index:9;
    background-repeat:no-repeat;
    background-position:left center;
    background-image:url("//haitao.nos.netease.com/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=210x0&quality=85&v=1");
    background-image:-webkit-image-set(url("//haitao.nos.netease.com/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=210x0&quality=85&v=1") 1x,url("//haitao.nos.netease.com/70dee793-133d-4628-b374-b99e29aad157.png") 2x);
}
#docHead .logokaola.backup{
    background-repeat:no-repeat;
    background-image:url("//haitao.noskl.127.net/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=210x0&quality=85&v=1");
    background-image:-webkit-image-set(url("//haitao.noskl.127.net/70dee793-133d-4628-b374-b99e29aad157.png?imageView&thumbnail=210x0&quality=85&v=1") 1x,url("//haitao.noskl.127.net/70dee793-133d-4628-b374-b99e29aad157.png") 2x);
}
#docHead .logokaola.z-medicine{
    width:309px;
    background-repeat:no-repeat;
    height:57px;
    background-image:url("https://haitao.nos.netease.com/243a0dd8-5723-4d85-b4c7-ba614d7a562d.png?imageView&thumbnail=0x57&quality=85&v=1");
    background-image:-webkit-image-set(url("https://haitao.nos.netease.com/243a0dd8-5723-4d85-b4c7-ba614d7a562d.png?imageView&thumbnail=0x57&quality=85&v=1") 1x,url("https://haitao.nos.netease.com/243a0dd8-5723-4d85-b4c7-ba614d7a562d.png?imageView&thumbnail=0x112&quality=85&v=1") 2x);
}
#docHead .logokaola.z-medicine.backup{
    background-image:url("https://haitao.noskl.127.net/243a0dd8-5723-4d85-b4c7-ba614d7a562d.png?imageView&thumbnail=0x57&quality=85&v=1");
    background-image:-webkit-image-set(url("https://haitao.noskl.127.net/243a0dd8-5723-4d85-b4c7-ba614d7a562d.png?imageView&thumbnail=0x57&quality=85&v=1") 1x,url("https://haitao.noskl.127.net/243a0dd8-5723-4d85-b4c7-ba614d7a562d.png?imageView&thumbnail=0x112&quality=85&v=1") 2x);
}
#docHead .logokaola, #docHead .logokaola:hover, #docHead .logokaolalt, #docHead .logokaolalt:hover{
    text-decoration:none;
}
#topimg{
    position:absolute;
    left:458px;
    top:0;
}
#topimg-new{
    position:absolute;
    left:230px;
    top:0;
    width:200px;
    overflow:hidden;
}
.m-slogn{
    display:inline-block;
    margin:6px 0 0 220px;
    width:218px;
    height:44px;
    background-position:0 -403px;
}
.m-slogn-new{
    display:inline-block;
    margin:6px 0 0 220px;
    width:36px;
    height:44px;
    background-position:0 -403px;
}
.m-searchiptbox{
    position:absolute;
    left:343px;
    top:33px;
    z-index:73;
}
.m-searchiptbox-1{
    top:24px;
}
#topsearch, #topSearchBtn{
    border-radius:0 3px 3px 0;
}
#topsearch{
    width:510px;
    height:40px;
    padding-left:1px;
    background-color:#ff2337;
    border-radius:40px;
}
#topsearch .wrap{
    float:left;
    margin:2px 1px;
    padding:6px 39px 6px 30px;
    background-color:#fff;
    border-radius:24px 0 0 24px;
}
#topsearch .topsearchboxBackGround{
    width:60px;
    height:40px;
    background:#ff2337;
    background-image:linear-gradient(to left,#ff2e64,#ff0003);
    border-radius:40px;
    position:absolute;
    top:0;
    right:0;
}
#topsearch .topsearchboxBackGround:hover{
    background:#ff2d59;
    background-image:linear-gradient(to left,#f85a7d,#ff3234);
}
#topSearchInput{
    width:410px;
    *width:418px;
    height:24px;
    *height:23px;
    line-height:24px;
    border:0;
    font-size:13px;
}
#topSearchBtn{
    display:inline-block;
    height:40px;
    width:50px;
    font-size:19px;
    line-height:40px;
    color:#fff;
    text-align:center;
    cursor:pointer;
    position:absolute;
    top:0;
    right:5px;
}
#topSearchBtn{
    background:url("https://haitao.nos.netease.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?imageView&thumbnail=20x0&quality=85&v=1") no-repeat center center;
    background-image:-webkit-image-set(url(https://haitao.nos.netease.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?imageView&thumbnail=20x0&quality=85&v=1) 1x,url(https://haitao.nos.netease.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?imageView&thumbnail=40x0&quality=85&v=1) 2x);
}
#topsearch .js-placeholder-parent{
    position:relative;
    zoom:1;
}
#topsearch .js-placeholder{
    color:#999;
}
#topsearch .w-icon-26{
    position:absolute;
    left:10px;
    top:13px;
}
.m-suggestlist{
    line-height:22px;
    margin-top:2px;
    width:461px;
    height:22px;
    overflow:hidden;
}
.m-suggestlist li{
    float:left;
    white-space:nowrap;
    margin-left:30px;
}
.m-suggestlist li .bold, .m-suggestlist li .bold:hover{
    color:#ff1e32;
}
.m-suggestlist li .showcolor{
    color:#ff1e32;
}
.m-suggestlist li a, .m-suggestlist li a:hover{
    color:#999;
}
.m-suggestlist li .sep{
    margin:0 10px;
    color:#999;
    display:none;
}
.m-searchhint{
    position:absolute;
    top:39px;
    left:10px;
    width:490px;
    background-color:#fff;
}
.m-searchhint ul{
    padding:6px 0;
    border:1px solid #ccc;
    border-top:none;
}
.m-searchhint .item, .m-searchhint .item:hover{
    display:block;
    position:relative;
    height:28px;
    padding:0 10px;
    line-height:28px;
    font-size:12px;
    text-decoration:none;
}
.m-searchhint .shname{
    display:block;
    float:left;
    width:250px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#333;
}
.m-searchhint a:hover .shname, .m-searchhint .active a .shname{
    color:#ff1e32;
}
.m-searchhint .active a{
    background-color:#f8f8f8;
}
.m-searchhint .del{
    display:none;
    position:absolute;
    top:0px;
    right:10px;
    font-family:"iconfont" !important;
    color:#999;
    cursor:pointer;
}
.m-searchhint a:hover .del{
    display:block;
}
.m-searchhint .del:hover{
    color:#ff1e32;
}
.m-searchhint .tit{
    color:#999;
}
.m-step{
    position:absolute;
    zoom:1;
    right:0;
    top:40px;
    font-size:14px;
}
.m-step ul{
    float:right;
    padding:20px 0 0;
}
.m-step .step{
    float:left;
    text-align:center;
    color:#ddd;
}
.m-step .step .txt{
    white-space:nowrap;
}
.m-step .step-1{
    width:70px;
}
.m-step .step-2{
    width:60px;
    margin-left:72px;
}
.m-step .step-3{
    width:86px;
    margin-left:66px;
}
.m-step .active, .m-step-1 .step-1, .m-step-2 .step-1, .m-step-2 .step-2{
    color:#e31436;
}
.m-step .bg{
    position:absolute;
    right:38px;
    top:0;
    width:290px;
    height:20px;
}
.m-step-1 .bg{
    background-position:0 -34px;
}
.m-step-2 .bg{
    background-position:0 -65px;
}
#topTabBox{
    border-bottom:1px solid #ccc;
    background:#fff;
    z-index:102;
}
#topTabBox .res{
    display:inline-block;
    position:absolute;
    right:50%;
    margin:-68px -545px 0 0;
    width:168px;
    height:68px;
    z-index:105;
}
#topTabBox .res img{
    width:168px;
    height:68px;
}
#topTab{
    position:relative;
    zoom:1;
    width:1090px;
    margin:0 auto;
    height:40px;
    line-height:40px;
    z-index:102;
}
#funcTab{
    position:relative;
    z-index:72;
    height:40px;
    float:left;
    padding-left:25px;
}
#funcTab li{
    float:left;
    height:40px;
    overflow:hidden;
    padding:0 20px;
}
#funcTab li a{
    display:block;
    text-align:center;
    font-size:15px;
    font-weight:700;
}
#funcTab a, #funcTab a:link, #funcTab a:visited{
    color:#333;
    text-decoration:none;
}
#funcTab a:hover, #funcTab a:active, #funcTab .navhover a{
    text-decoration:none;
    color:#ff1e32;
}
#funcTab .active .toplevel:link, #funcTab .active .toplevel:visited, #funcTab .active .toplevel:hover, #funcTab .active .toplevel:active{
    background:#fff;
    color:#ff1e32;
}
#topTabBox #funcTab .navitm-1 a{
    text-indent:-2000px;
    overflow:hidden;
    background-position:-110px 0;
}
.navitm-cats{
    float:left;
    height:40px;
    width:164px;
    background:#f00;
    background:linear-gradient(to right,#f00,#ff3264);
    color:#fff;
    font-size:14px;
    text-align:center;
    padding-left:0;
    overflow:visible;
}
.navitm-cats.z-unfold{
    cursor:pointer;
}
.navitm-cats.z-unfold .catitmlst{
    display:none;
}
.navitm-cats.z-unfold:hover .catitmlst{
    display:block;
}
.navitm-cats .toplevel{
    display:inline-block;
    height:40px;
    line-height:40px;
    width:164px;
    text-align:left;
    border-bottom:1px solid #ff5160;
}
.navitm-cats .lineicon{
    display:inline-block;
    *zoom:1;
    *display:inline;
    margin:0 24px 0 15px;
    width:15px;
    height:12px;
    overflow:hidden;
}
.navitm-cats .lineicon i{
    width:15px;
    height:0;
    border-top:2px solid #ddd;
    display:block;
    margin-bottom:3px;
}
.navitm-cats .catitmlst li{
    background:#f00;
    padding-left:10px;
    width:151px;
    cursor:pointer;
    text-align:left;
    padding-right:3px;
}
.navitm-cats .catitmlst li .iconhv{
    display:none;
}
.navitm-cats .catitmlst li.multi-icon-catli.z-hover .icon{
    display:none;
}
.navitm-cats .catitmlst li.multi-icon-catli.z-hover .iconhv{
    display:inline-block;
}
@media all and (min-width: 0){
    .navitm-cats .catitmlst li{
        background:#f00;
        background:linear-gradient(to right,#f00,#ff3264);
    }
}
.navitm-cats .catitmlst .vcenter{
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:0;
}
.navitm-cats .catitmlst .icon{
    width:20px;
    height:20px;
    vertical-align:middle;
    padding:0 20px 0 4px;
}
.navitm-cats .catitmlst .t{
    display:inline-block;
    vertical-align:middle;
    width:70px;
    height:30px;
    line-height:30px;
    white-space:nowrap;
}
.navitm-cats .catitmlst .arr{
    display:inline-block;
    vertical-align:middle;
    color:#ff96ad;
    font-size:19px;
    width:16px;
}
.navitm-cats .catitmlst .seg{
    display:block;
    *display:none;
    position:relative;
    bottom:2px;
    left:-7px;
    width:154px;
    height:1px;
    background:#ff5160;
    margin-top:-1px;
}
.navitm-cats .catitmlst li.z-hover{
    background:#fff;
    padding-left:9px;
    border-left:1px solid #f00;
    padding-right:0;
    border-right:3px solid #ff3263;
    color:#ff1e32;
}
.navitm-cats .catitmlst li.z-hover .arr{
    color:#ff8e98;
}
.navitm-cats .catitmlst li.z-hover .seg{
    display:none;
}
.navitm-cats .catitmlst li.z-hover .m-ctgcard{
    display:block;
}
.navitm-cats .catitmlst li.z-hover2 .m-ctgcard{
    display:none;
}
.navitm-cats .active .m-ctgcard a{
    background:#fff;
}
.navitm-cats .m-ctgcard{
    transition:height 0.4s;
    position:absolute;
    z-index:75;
    top:40px;
    left:164px;
    width:930px;
    overflow:hidden;
    max-height:459px;
    height:459px;
    background:#fff;
    border:1px solid #ff1a33;
    border-width:1px 1px 1px 0;
    text-align:left;
    color:#333;
    cursor:auto;
    display:none;
}
.navitm-cats .navhover .m-ctgcard{
    display:block;
}
.navitm-cats .m-ctglist{
    margin:0 20px 20px 15px;
    width:658px;
    max-height:440px;
    *height:440px;
    overflow:hidden;
}
.navitm-cats .m-ctglist .left, #funcTab .m-ctglist .right{
    width:50%;
    float:left;
}
.navitm-cats .m-ctglist .item{
    display:inline-block;
    padding:0;
    margin:0 25px 17px 5px;
    vertical-align:top;
    width:275px;
    height:auto;
    line-height:normal;
    overflow:hidden;
}
.navitm-cats .m-ctglist .item .title{
    height:34px;
    line-height:34px;
    font-size:14px;
    font-weight:700;
}
.navitm-cats .m-ctglist .underTitleMiddleLine{
    height:1px;
    width:642px;
    background:#eaeaea;
    position:absolute;
    top:34px;
}
.navitm-cats .m-ctglist a.cat2{
    display:inline;
    color:#333;
    text-align:left;
}
.navitm-cats .m-ctglist a.cat2:hover{
    text-decoration:underline;
}
.navitm-cats .m-ctgtbl{
    width:100%;
    *width:610px;
    font-size:0;
}
.navitm-cats .m-ctgtbl .litd{
    float:left;
    width:50%;
    vertical-align:top;
    position:relative;
}
.navitm-cats .m-ctglist .ctgnamebox{
    margin-left:-8px;
    font-size:0;
}
.navitm-cats .m-ctglist .ctgnamebox a{
    display:inline-block;
    height:14px;
    line-height:14px;
    padding:0 10px 0 10px;
    margin-top:20px;
    font-size:13px;
    color:#666;
}
.navitm-cats .m-ctglist .ctgnamebox a:hover{
    text-decoration:underline;
    background:#fff;
}
.navitm-cats .m-ctglist .ctgnamebox .f-fcred3{
    color:#ff1e32;
}
.navitm-cats .m-ctglist .item:hover{
    background-color:#fff;
}
.navitm-cats .m-brandbox{
    height:322px;
    *height:240px;
    overflow:hidden;
    width:218px;
    padding:9px 8px 0 11px;
    background:#f6f6f6;
}
.navitm-cats .m-brandbox .title{
    height:34px;
    line-height:34px;
    font-size:14px;
    font-weight:700;
}
.navitm-cats .m-brandbox .brandlist{
    font-size:0;
}
.navitm-cats .m-brandbox .brandlist a{
    float:left;
    padding:0;
    *margin-left:-1px;
}
.navitm-cats .m-brandbox .brandlist img{
    width:104px;
    height:104px;
    border:1px solid #eaeaea;
    margin:0 3px 2px 0;
}
.navitm-cats .m-ctgcard .imgbox{
    width:237px;
    box-sizing:border-box;
    padding:20px 18px 20px 11px;
    background:#f6f6f6;
}
.navitm-cats .m-ctgcard .imgbox a{
    padding:0;
}
.navitm-cats .m-ctgcard .imgbox .u-img{
    width:215px;
    height:88px;
}
.m-shopcart{
    position:absolute;
    right:0;
    bottom:0;
}
.m-shopcart .w-icon-16{
    position:absolute;
    right:-12px;
    top:-38px;
    cursor:pointer;
}
.m-shopcartnew{
    display:block;
    position:absolute;
    right:76px;
    top:33px;
    width:106px;
    height:36px;
    background-color:#fff;
    line-height:36px;
    font-size:14px;
    text-align:center;
    border-radius:36px;
    border:2px solid #ff1e32;
}
.m-shopcartnew-1{
    top:24px;
}
.m-shopcartnew, .m-shopcartnew:link, .m-shopcartnew:visited, .m-shopcartnew:hover{
    color:#333;
    text-decoration:none;
}
.m-shopcartnew:hover{
    background-color:#fff4f5;
}
.m-shopcartnew:hover, .m-shopcartnew:hover .iconfont{
    color:#ff1e32;
}
.m-shopcartnew .wrap{
    display:inline-block;
    padding-left:6px;
    background:none;
    vertical-align:middle;
}
.m-shopcartnew .iconfont{
    font-size:18px;
    line-height:35px;
    display:inline-block;
    vertical-align:middle;
    color:#a9a9a9;
}
.m-shopcartnew .num, .m-rightbar .num{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:20px;
    height:20px;
    border-radius:50%;
    text-align:center;
    line-height:20px;
    font-size:12px;
    font-weight:400;
    color:#fff;
    background:#ff1e32;
    white-space:nowrap;
    font-family:Helvetica,arial;
}
.m-shopcartnew .num{
    margin-left:3px;
}
.m-shopcartnew .shop-cart-icon{
    display:inline-block;
    width:20px;
    height:20px;
    margin-right:2px;
    margin-bottom:-5px;
    background:url("https://haitao.nos.netease.com/14f1eb69-f7c0-4d4f-95d8-4aee8e2e1f1b.png?imageView&thumbnail=20x0&quality=90") no-repeat top left;
    background-image:-webkit-image-set(url(//haitao.nos.netease.com/14f1eb69-f7c0-4d4f-95d8-4aee8e2e1f1b.png?imageView&thumbnail=20x0&quality=90) 1x,url(//haitao.nos.netease.com/14f1eb69-f7c0-4d4f-95d8-4aee8e2e1f1b.png?imageView&thumbnail=40x0&quality=90) 2x);
}
#topTabPlaceHolder{
    height:100px;
    background-color:#fff;
}
#docHead.topTabBoxFixed{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:50px;
    z-index:1001;
    background:#fff;
    border-bottom:1px solid #ddd;
    box-shadow:0 0px 10px rgba(0,0,0,0.2);
}
.topTabBoxFixed #docHeadWrap{
    height:50px;
}
.topTabBoxFixed #docHeadWrap .logo{
    display:block;
}
.topTabBoxFixed .logokaola{
    display:none;
}
.topTabBoxFixed .m-suggestlist{
    display:none;
}
.topTabBoxFixed .m-searchiptbox{
    top:7px;
}
.topTabBoxFixed .m-shopcartnew{
    display:none;
}
.ph-loading{
    height:210px;
    background:url("//haitao.nos.netease.com/f98c83b88d7f4694a7c3335f96da640d.gif") no-repeat center;
}
.account-ico{
    background:url("//haitao.nos.netease.com/d5058f7c-91f4-4f19-a9be-f646d9837fa8.png") no-repeat;
}
.account-ico-netease{
    background-position:-300px 0;
}
.account-ico-netease-gray{
    background-position:-300px -60px;
}
.account-ico-phone{
    background-position:0 0;
}
.account-ico-phone-gray{
    background-position:0 -60px;
}
.account-ico-wx{
    background-position:-60px 0;
}
.account-ico-wx-gray{
    background-position:-60px -60px;
}
.account-ico-sina{
    background-position:-120px 0;
}
.account-ico-sina-gray{
    background-position:-120px -60px;
}
.account-ico-qq{
    background-position:-180px 0;
}
.account-ico-qq-gray{
    background-position:-180px -60px;
}
.account-ico-alipay{
    background-position:-240px 0;
}
.account-ico-alipay-gray{
    background-position:-240px -60px;
}
.account-ico-small{
    background:url("//haitao.nos.netease.com/d5058f7c-91f4-4f19-a9be-f646d9837fa8.png") no-repeat;
    background-size:175px 55px;
}
.account-ico-small-netease{
    background-position:-150px 0;
}
.account-ico-small-netease-gray{
    background-position:-150px -30px;
}
.account-ico-small-phone{
    background-position:0 0;
}
.account-ico-small-phone-gray{
    background-position:0 -30px;
}
.account-ico-small-wx{
    background-position:-30px 0;
}
.account-ico-small-wx-gray{
    background-position:-30px -30px;
}
.account-ico-small-sina{
    background-position:-60px 0;
}
.account-ico-small-sina-gray{
    background-position:-60px -30px;
}
.account-ico-small-qq{
    background-position:-90px 0;
}
.account-ico-small-qq-gray{
    background-position:-90px -30px;
}
.account-ico-small-alipay{
    background-position:-120px 0;
}
.account-ico-small-alipay-gray{
    background-position:-120px -30px;
}
.m-bindaccount .modal-body{
    margin:35px 0 40px;
}
.m-bindaccount .reminder{
    position:relative;
    margin:0 auto 15px;
    text-align:left;
    word-break:break-all;
    word-wrap:break-word;
}
.m-bindaccount .reminder .iconfont{
    position:absolute;
    top:-6px;
    left:-38px;
}
.m-bindaccount .linkText{
    font-size:12px;
    text-align:center;
}
.m-bindaccount .linkText a{
    color:#999;
    text-decoration:underline;
}
.m-bindaccount .phoneInputWrap{
    position:relative;
    margin:0 auto 12px;
    width:270px;
    height:38px;
}
.m-bindaccount .phoneInputWrap input{
    width:268px;
    height:36px;
    line-height:36px;
    text-indent:34px;
    border:1px solid #d5d5d5;
}
.m-bindaccount .phoneInputWrap .f-error{
    border-color:#e31436;
}
.m-bindaccount .phoneInputWrap .ico{
    position:absolute;
    top:4px;
    left:9px;
    font-size:20px;
    color:#ccc;
}
.m-bindaccount #ursincludebox{
    margin:0 86px;
}
.m-bindaccount .bindEach{
    margin:0 auto 25px;
    width:376px;
}
.m-bindaccount .bindEach li{
    float:left;
}
.m-bindaccount .bindEach .info{
    width:120px;
}
.m-bindaccount .bindEach .avatar{
    display:block;
    margin:0 auto 5px;
    width:72px;
    height:72px;
    border-radius:50%;
}
.m-bindaccount .bindEach .arrow{
    margin:23px 40px 0;
    width:52px;
    height:25px;
    background:#fff url("//haitao.nos.netease.com/29015f87-2716-4cd4-92f0-a2ca2ca26fd5.png") no-repeat center;
}
.m-bindaccount .bindEach .nickname{
    margin:0 -12px;
    text-align:center;
    font-size:12px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.m-bindaccount .bindEach .cur{
    line-height:14px;
    text-indent:45px;
    font-size:12px;
}
.m-bindaccount .bindEach .account-ico-small{
    display:inline-block;
    margin-right:5px;
    vertical-align:-8px;
    width:25px;
    height:25px;
}
.m-bindaccount .account-ico{
    display:inline-block;
    margin-right:6px;
    width:20px;
    height:20px;
    vertical-align:-6px;
    background-size:140px 44px;
}
.m-bindaccount .account-ico-netease{
    background-position:-120px 0;
}
.m-bindaccount .account-ico-netease-gray{
    background-position:-120px -24px;
}
.m-bindaccount .account-ico-phone{
    background-position:0 0;
}
.m-bindaccount .account-ico-phone-gray{
    background-position:0 -24px;
}
.m-bindaccount .account-ico-wx{
    background-position:-24px 0;
}
.m-bindaccount .account-ico-wx-gray{
    background-position:-24px -24px;
}
.m-bindaccount .account-ico-sina{
    background-position:-48px 0;
}
.m-bindaccount .account-ico-sina-gray{
    background-position:-48px -24px;
}
.m-bindaccount .account-ico-qq{
    background-position:-72px 0;
}
.m-bindaccount .account-ico-qq-gray{
    background-position:-72px -24px;
}
.m-bindaccount .account-ico-alipay{
    background-position:-96px 0;
}
.m-bindaccount .account-ico-alipay-gray{
    background-position:-96px -24px;
}
.m-bindaccount .errorText{
    margin:10px auto 0;
    line-height:14px;
    text-align:center;
    color:#e31436;
    font-size:12px;
}
.m-bindaccount .errorText .iconfont{
    margin-right:3px;
    vertical-align:-2px;
}
.m-bindaccount .u-btn-medium{
    padding:0;
    width:100px;
    height:34px;
    line-height:36px;
}
.m-bindaccount .fur-agree{
    display:none;
}
.m-bindAccountHint{
    margin:-5px 0 10px;
    font-size:20px;
    font-weight:700;
}
.m-bindAccountHint .line2{
    margin-top:2px;
    font-weight:400;
}
#docHead{
    border-bottom:1px solid #e8e8ea;
}
#docHeadWrap{
    width:1000px;
}
#topimg{
    left:458px;
    height:100px;
    width:504px;
    background-image:-webkit-image-set(url(https://haitao.nos.netease.com/d812ec07-4cdb-49e9-84f4-41383c2976e4_504_100.jpg?imageView&thumbnail=504x0&quality=85&v=1) 1x,url(https://haitao.nos.netease.com/30bee055-69af-4f3a-a232-5f330cbc98c1_1008_200.png?imageView&thumbnail=1008x0&quality=85&v=1) 2x);
    background-image:-moz-image-set(url(https://haitao.nos.netease.com/d812ec07-4cdb-49e9-84f4-41383c2976e4_504_100.jpg?imageView&thumbnail=504x0&quality=85&v=1) 1x,url(https://haitao.nos.netease.com/30bee055-69af-4f3a-a232-5f330cbc98c1_1008_200.png?imageView&thumbnail=1008x0&quality=85&v=1) 2x);
    background-image:-ms-image-set(url(https://haitao.nos.netease.com/d812ec07-4cdb-49e9-84f4-41383c2976e4_504_100.jpg?imageView&thumbnail=504x0&quality=85&v=1) 1x,url(https://haitao.nos.netease.com/30bee055-69af-4f3a-a232-5f330cbc98c1_1008_200.png?imageView&thumbnail=1008x0&quality=85&v=1) 2x);
    background-image:-o-image-set(url(https://haitao.nos.netease.com/d812ec07-4cdb-49e9-84f4-41383c2976e4_504_100.jpg?imageView&thumbnail=504x0&quality=85&v=1) 1x,url(https://haitao.nos.netease.com/30bee055-69af-4f3a-a232-5f330cbc98c1_1008_200.png?imageView&thumbnail=1008x0&quality=85&v=1) 2x);
    _background-image:url("https://haitao.nos.netease.com/d812ec07-4cdb-49e9-84f4-41383c2976e4_504_100.jpg?imageView&thumbnail=504x0&quality=85&v=1");
}
.login-banner{
    background-color:#f8f8f8;
    background-repeat:no-repeat;
    background-position:center top;
    background-size:cover;
}
.login-banner .login-body{
    position:relative;
    margin:0 auto;
    width:1000px;
    height:600px;
}
.login-banner .login-body .default-img{
    position:absolute;
    background-image:url("//haitao.nos.netease.com/d77e243d-d78e-4e04-bf3a-f9ef46644fdd_1_1.gif");
    left:10px;
    top:100px;
    width:400px;
    height:203px;
}
.login-banner .login-body .hot-area{
    position:absolute;
    top:109px;
    left:10px;
    width:400px;
    height:280px;
}
.loginbox-wrap{
    position:absolute;
    z-index:2;
    top:48px;
    right:40px;
    width:350px;
    border:1px solid #eaeaea;
    background-color:#fff;
}

/*# sourceMappingURL=login_login_2c10cb3e.css.map*/