<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URS组件</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
</head>
<body>
    <div class="layui-carousel" id="test1" lay-filter="carofilter" style="font-size:larger">
        <div carousel-item>
            <a
                    href="https://pages.kaola.com/pages/activity/jpwmb9zcpagesl.shtml?kpm=MTAwMg==.NDU5Ng==.NzIyNTQ=.MQ==@@M2VhLjFkYjBhOC40LjExYWQwZmEtMC0xNjViYThj"
                    target="_blank" _ti="16">
                <img src="https://haitao.nos.netease.com/a1153d02-8303-4d68-8fad-fd92d86f89ddT1901220955_1920_400.jpg?
                                        imageView&amp;thumbnail=1920x0&amp;quality=95&amp;type=webp"_ti="16" class=" u-loaded"> </a>
            <a
                    href="https://pages.kaola.com/pages/activity/jfccri80pages1.shtml?kpm=MTAwMg==.NDU5Ng==.NzIyNTQ=.Mg==@@M2VhLjFkYjBhOS40LjExYWQwZmItMC0xNjViYThh"
                    target="_blank" _ti="16"> <img
                    src="https://haitao.nos.netease.com/419785d6-9fe0-49e1-a9c5-992cddc5311aT1904091528_1920_400.jpg?imageView&amp;thumbnail=1920x0&amp;quality=95&amp;type=webp"
                    _ti="16" class=" u-loaded"> </a>
            <a
                    href="https://pages.kaola.com/pages/activity/jkbx04x8pagerv.shtml?kpm=MTAwMg==.NDU5Ng==.NzIyNTQ=.Mw==@@M2VhLjFkYjBhYS40LjE1NjI5YTctMC0xNjViYThl"
                    target="_blank" _ti="16"> <img
                    src="https://haitao.nos.netease.com/0a8e5bb4-fec1-4c53-b65e-4a71732263edT1907031127_1920_400.jpg?imageView&amp;thumbnail=1920x0&amp;quality=95&amp;type=webp"
                    _ti="16" class=" u-loaded"> </a>
            <a
                    href="https://weex.kaola.com/activity/pages/bangdan.html?kpm=MTAwMg==.NDU5Ng==.NzIyNTQ=.NA==@@M2VhLjFkYjBhYi40LjExYWQwZmMtMC0xNjViYThi"
                    target="_blank" _ti="16"> <img
                    src="https://haitao.nos.netease.com/8c5df13a-7e46-4853-8986-857ece2975bfT1904091500_1920_400.jpg?imageView&amp;thumbnail=1920x0&amp;quality=95&amp;type=webp"
                    _ti="16" class=" u-loaded"> </a>
            <a
                    href="https://pages.kaola.com/pages/activity/bimaibangdan.shtml?kpm=MTAwMg==.NDU5Ng==.NzIyNTQ=.NQ==@@M2VhLjFkYTVmOC40LjExYWQwZjctMC0xNjViYThm"
                    target="_blank" _ti="16"> <img
                    src="https://haitao.nos.netease.com/51a10ed3-43bd-4429-b6e2-4746a66dd02eT1904091504_1920_400.jpg?imageView&amp;thumbnail=1920x0&amp;quality=95&amp;type=webp"
                    _ti="16" class=" u-loaded"> </a>
            <!--<div style="background-color:red">条目1</div>
            <div style="background-color:green">条目2</div>
            <div style="background-color:blue">条目3</div>
            <div style="background-color:mediumorchid">条目4</div>
            <div style="background-color:orange">条目5</div>-->
        </div>
    </div>
    <script src="layui/layui.all.js"></script>
    <!-- 条目中可以是任意内容，如：<img src=""> -->
    <script>
        layui.use('carousel', function () {
            var carousel = layui.carousel;
            //***************************建造实例
            var ins=carousel.render({
                elem: '#test1'
                , width: '100%'     //设置容器宽度
                , height:'400px'
                , arrow: 'always'    //始终显示箭头，可选hover,none
                ,anim: 'fade'    //切换动画方式，可选fade,default,updown
                , full: false        //全屏
                , autoplay: true     //自动切换
                , interval: 2500     //自动切换的时间间隔
                , index: 3           //初始化时item索引,默认时0
                , indicator:'inside' //指示器位置，可选outside,none
            });

            //**************************监听轮播切换事件
            carousel.on('change(carofilter)', function (obj) { //test1来源于对应HTML容器的 lay-filter="test1" 属性值
                console.log(obj.index);     //当前条目的索引
                console.log(obj.prevIndex); //上一个条目的索引
                console.log(obj.item);      //当前条目的元素对象
            });

            //****************************重置轮播
            //var ins = carousel.render(options);
            ins.reload({arrow:'hover'});//将arror从alway变成hover
        });
    </script>
</body>
</html>